.my-container{
    display: flex;
    flex-direction: column;
    width: 90% !important;
    margin: 0 !important;

}

.outer-container{
    width: 100%;
    height: 100%;
    /* padding: 10%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-items: center; */
}

button{
    width: 250px;
}

.result-container{
    color: white;
    border-radius: 10px;
    text-align: center;
    text-align: left;
    padding: 12px;
}

textarea{
    margin-bottom: 56px !important;
}

hr{
    /* width: 100vw; */
    /* colo */
    color: black !important;
}

.button-container{
    display: flex;
    width: 100% !important;
    justify-content: space-evenly;
}

a{
    color: yellow;
}

.bg-Color{
    background-color: brown;
}

mark{
    background-color: aqua;
}

h2{
    text-decoration: underline !important;
}

.position-input{
    margin-bottom: 12px;
}